.jh_header_logo {
    margin : 2rem 0;
    font-family: 'Libre Barcode 39 Extended', cursive;

}

.jh_header_button {
    margin-bottom : 2rem;
}

.jh_footer_button {
    font-size: 0.8 rem;
    margin:1.5rem
}